a{text-decoration: none;}

.top{
    position: relative;
    overflow: hidden;
    padding: 0;
    background: #eee;
    display: flex;
}


.top h1{
    font-size: 3.5rem;
}

.top video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 0;
}

.top .text-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: #fff;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100vh;
}

/*  */

@keyframes scrollBounce {
  0% {
    bottom: 20px;
  }
  20% {
    bottom: 40px; /* 살짝 위로 */
  }
  100% {
    bottom: 20px;
  }
}

.top .down{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    animation: scrollBounce 1.5s ease-out infinite;
}

.install_guide{
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../static/images/install_bg.png') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.install_guide video{
    position: absolute;
    top: 50%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translateY(-50%);
    z-index: 1;
}
 
.install_guide .con{
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 7rem !important;
    padding-bottom: 8rem !important;
    z-index: 2;
}

footer{
    background: #000 !important;
}

.button{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.bibtex textarea{
    width: 90%;
    margin: 0 auto;
    resize: none;
}

.logo{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.logo img{
    height: 30px;
    vertical-align: middle;
}

.bibtex textarea{
    background: #f1f1f1;
    border: #999 solid 1px;
}

.top{
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../static/images/main_thumb.png') no-repeat center center;
    background-size: cover;
}

.bibtex .text{width: 90%; margin: 0 auto;}

@media(max-width:780px){
    .top h1{font-size: 1.5rem;}
    .lgo{grid-area: 10px;}
    .logo img{width: 25%; height: auto;}
    .top h1 b{font-size: 4rem; margin-bottom: 1.5rem; display: block;}
    .br{display: block;}
    .hide{display: none;}
}

@media(max-width:480px){
    .logo{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 3%;
    }
    .logo img{width: 40%; height: 40px; object-fit: contain;}
    .logo img:nth-child(2){width: 52%;}
    .logo img:nth-child(3){margin-top: 1.5rem;}
}
